/*git pull-request
*/
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black; /* Black border */
  border-radius: 10px; /* Rounded edges */
  text-align: right;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* Button styling */
button {
  background-color: darkblue; /* Grey background */
  color: white; /* Black text color */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; /* Rounded edges */
}

button:hover {
  background-color: darkgrey; /* Darker grey background on hover */
}
* {
  text-align: right;
}
th,
td {
  text-align: right; /* Align text to the right */
}
.logo {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  width: 100px; /* Adjust the width of the logo */
  height: auto; /* Automatically adjust height while maintaining aspect ratio */
}

td,
tr,
th {
  vertical-align: top; /* Align content to the top of the cell */
  text-align: right; /* Align text to the left within the cell */
}
/* Navbar styles */
