/*
     * Droid Arabic Kufi (Arabic) https://www.google.com/fonts/earlyaccess
     */
@font-face {
  font-family: "Droid Arabic Kufi";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "Droid Arabic Kufi";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf)
      format("truetype");
}

body {
  direction: rtl;
  font-family: "Droid Arabic Kufi";
  height: 1000px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.drawer-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%;
  background: #333;
  color: lightblue;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 20px;
}

.drawer-menu ul {
  list-style-type: none;
  padding: 0;
}

.drawer-menu li {
  padding: 10px;
}

.drawer-menu li a {
  color: white;
  text-decoration: none;
}

.drawer-menu .sub-menu {
  padding-left: 20px;
}

.drawer-toggle {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  background-color: lightblue;
}

.menu-open .drawer-menu {
  left: 0; /* Slide in */
}
