<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/addscreen.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <script
      src="https://cdn.tiny.cloud/1/z69tp80jmlesld65z70s45ymnhqlcnp4ec0dsvrxc8tsiyxb/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافة شاشة للجدول</title>
    <style>
      .form-section {
        display: none;
      }

      .form-section.active {
        display: block;
      }
      * {
        direction: rtl;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <form
      id="addScreenForm"
      action="/create_screen_for_table"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="service_id" id="selectedServiceId" />
      <input type="hidden" name="table_id" value="{{ table_id }}" />
      <div>
        <h1 style="background-color: #002060; color: white">
          اضافة شاشة للجدول
        </h1>
        <div>
          <p style="background-color: skyblue; font-size: 20px; width: 340px">
            اسماء المستخدمين (يمكنك اختيار اكثر من مستخدم):
          </p>
          {% for user in users %}
          <input
            type="checkbox"
            id="user_{{ user.id }}"
            name="user_ids"
            value="{{ user.id }}"
          />
          <label for="user_{{ user.id }}">{{ user.username }}</label><br />
          {% endfor %}
        </div>
        <br /><br />
        <div>
          <!--  <select
            class="classic"
            name="service_name"
            style="width: auto"
            required
          >
           <option value="">اختر خدمة</option>
            {% for service in services %}
            <option value="{{ service.service_name }}">
              {{ service.service_name }}
            </option>
            {% endfor %}
          </select> -->
        </div>
        <table>
          <thead>
            <tr class="title">
              <th>اسم الشاشة</th>
              <th>وصف الشاشة</th>
              <th>صورة الشاشة</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="text"
                  id="screen_name"
                  name="screen_name"
                  required
                />
              </td>
              <td>
                <textarea
                  id="screen_description"
                  name="screen_description"
                  required
                ></textarea>
              </td>

              <td>
                <input
                  type="file"
                  id="file-upload"
                  name="screenshot_path"
                  required
                  style="display: none"
                  onchange="displayFileName(this)"
                />
                <label for="file-upload" class="custom-file-upload">
                  <i class="fas fa-cloud-upload-alt fa-2x"></i>
                </label>

                <span id="uploadedFilename"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Submit button -->
        <button type="button" id="submitBtn">اضافة</button>
      </div>
    </form>

    <script
      src="https://cdn.tiny.cloud/1/z69tp80jmlesld65z70s45ymnhqlcnp4ec0dsvrxc8tsiyxb/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script>
      let unsavedChanges = false;
      let formSubmitted = false; // Flag to indicate if the form is being submitted intentionally

      // Initialize TinyMCE
      tinymce.init({
        selector: "textarea#screen_description",
        height: 200,
        language: "ar",
        plugins: [
          "advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table paste code help wordcount",
        ],
        toolbar:
          "undo redo | formatselect | bold italic backcolor forecolor| \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | removeformat | help",
        setup: function (editor) {
          editor.on("change", function () {
            unsavedChanges = true;
          });
        },
      });

      // Function to display the uploaded filename
      function displayFileName(input) {
        var fileName = input.files[0].name;
        document.getElementById("uploadedFilename").textContent = fileName;
      }

      // Listen for beforeunload event
      window.addEventListener("beforeunload", function (e) {
        if (unsavedChanges && !formSubmitted) {
          e.preventDefault();
          e.returnValue = "";
          return "هل أنت متأكد أنك تريد مغادرة الصفحة؟ قد تفقد التغييرات التي قمت بها.";
        }
      });

      // Submit form when the submit button is clicked
      document
        .getElementById("submitBtn")
        .addEventListener("click", function () {
          formSubmitted = true;
          document.getElementById("addScreenForm").submit();
        });
    </script>
  </body>
</html>
