<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/table.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.tiny.cloud/1/z69tp80jmlesld65z70s45ymnhqlcnp4ec0dsvrxc8tsiyxb/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <title>Edit Screen</title>
    <style>
      * {
        direction: rtl;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 style="background-color: #002060; color: white">تعديلات على الشاشة</h1>
    <form method="POST">
      <label for="screen_name">اسم الشاشة : </label>
      <input
        type="text"
        id="screen_name"
        name="screen_name"
        value="{{ screen.screen_name }}"
      /><br /><br />

      <label for="screen_description">وصف الشاشة : </label><br /><br />
      <textarea id="screen_description" name="screen_description">
{{ screen.screen_description }}</textarea
      ><br /><br />

      <!--  <label for="user_id">اختر مستخدم : </label>
      <div>
        {% for user in users %}
        <input
          type="checkbox"
          id="user_{{ user.id }}"
          name="user_ids"
          value="{{ user.id }}"
          {%
          if
          user.id
          in
          selected_user_ids
          %}checked{%
          endif
          %}
        />
        <label for="user_{{ user.id }}">{{ user.username }}</label><br />
        {% endfor %}
      </div>
      <br /><br /> -->

      <!--<label for="service_id">اختر خدمة :</label>
        <select id="service_id" name="service_id">
            {% for service in services %}
                <option value="{{ service.id }}" {% if service.id == screen.service_id %}selected{% endif %}>{{ service.service_name }}</option>
            {% endfor %}
        </select><br><br> -->

      <input type="submit" value="حفظ التغييرات" />
    </form>
    <script>
      // Initialize TinyMCE
      tinymce.init({
        selector: "textarea#screen_description",
        height: 200, // Set the height of the editor
        language: "ar", // Set the language to Arabic
        plugins: [
          "advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table paste code help wordcount",
        ],
        toolbar:
          "undo redo | formatselect | bold italic backcolor forecolor| \
                 alignleft aligncenter alignright alignjustify | \
                 bullist numlist outdent indent | removeformat | help",
      });

      // Function to display the uploaded filename
      function displayFileName(input) {
        var fileName = input.files[0].name;
        document.getElementById("uploadedFilename").textContent = fileName;
      }

      // Submit form when the submit button is clicked
      document
        .getElementById("submitBtn")
        .addEventListener("click", function () {
          document.getElementById("addScreenForm").submit();
        });
    </script>
  </body>
</html>
