<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/table.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Table</title>
    <style>
      /* Optional: Add some basic styling */
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>خدمة جديد</h1>
    <form action="/create_table" method="post">
      <table>
        <tr>
          <th colspan="2"><h2>البيانات الأساسية</h2></th>
        </tr>
        <tr>
          <th><label for="table_name">اسم الخدمة: </label></th>
          <td>
            <input required type="text" id="table_name" name="table_name" />
          </td>
        </tr>
        <tr>
          <th><label for="table_description">مقدمة عن الخدمة:</label></th>
          <td>
            <textarea
              id="table_description"
              name="table_description"
            ></textarea>
          </td>
        </tr>

        <tr>
          <th colspan="2"><h2>القنوات والمستفيدين</h2></th>
        </tr>
        <tr>
          <th><label for="channels">القنوات:</label></th>
          <td>
            {% for channel in channels %}
            <input
              type="checkbox"
              id="channel_{{ channel.id }}"
              name="channels"
              value="{{ channel.id }}"
            />
            <label for="channel_{{ channel.id }}"
              >{{ channel.channel_name }}</label
            ><br />
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th><label for="beneficiaries">المستفيدين:</label></th>
          <td>
            {% for beneficiary in beneficiaries %}
            <input
              type="checkbox"
              id="beneficiary_{{ beneficiary.id }}"
              name="beneficiaries"
              value="{{ beneficiary.id }}"
            />
            <label for="beneficiary_{{ beneficiary.id }}"
              >{{ beneficiary.beneficiary_name }}</label
            ><br />
            {% endfor %}
          </td>
        </tr>

        <tr>
          <th colspan="2"><h2>معلومات إضافية عن الخدمة</h2></th>
        </tr>
        <tr>
          <th><label for="sector_class">التصنيف القطاعي للخدمة: </label></th>
          <td>
            <input required type="text" id="sector_class" name="sector_class" />
          </td>
        </tr>
        <tr>
          <th><label for="service_place">مكان تقديم الخدمة : </label></th>
          <td>
            <input type="text" id="service_place" name="service_place" />
          </td>
        </tr>
        <tr>
          <th><label for="service_structure">هيكلية الخدمة: </label></th>
          <td>
            <input
              type="text"
              id="service_structure"
              name="service_structure"
            />
          </td>
        </tr>
        <tr>
          <th><label for="service_type">نوع الخدمة: </label></th>
          <td>
            <input type="text" id="service_type" name="service_type" />
          </td>
        </tr>
        <tr>
          <th><label for="service_class">تصنيف الخدمة: </label></th>
          <td>
            <input type="text" id="service_class" name="service_class" />
          </td>
        </tr>

        <tr>
          <th colspan="2"><h2>رسوم الخدمة</h2></th>
        </tr>
        <tr>
          <th><label for="fees"> بند الرسوم: </label></th>
          <td>
            <input type="text" id="fees" name="fees" />
          </td>
        </tr>
        <tr>
          <th><label for="fees_description">وصف :</label></th>
          <td>
            <textarea id="fees_description" name="fees_description"></textarea>
          </td>
        </tr>
        <tr>
          <th><label for="fees_amount">القيمة (دينار) :</label></th>
          <td>
            <input type="text" id="fees_amount" name="fees_amount" />
          </td>
        </tr>
        <tr>
          <th><label for="fees_payment">طرق الدفع:</label></th>
          <td>
            <input type="text" id="fees_payment" name="fees_payment" />
          </td>
        </tr>

        <tr>
          <th colspan="2"><h2>الشروط العامة</h2></th>
        </tr>
        <tr>
          <th><label for="general_rules">الشروط العامة:</label></th>
          <td>
            <textarea id="general_rules" name="general_rules"></textarea>
          </td>
        </tr>

        <tr>
          <th colspan="2"><h2>معلومات المستندات والمخرجات</h2></th>
        </tr>
        <tr>
          <th><label for="customer_category">فئة المتعاملين:</label></th>
          <td>
            <input
              type="text"
              id="customer_category"
              name="customer_category"
            />
          </td>
        </tr>
        <tr>
          <th><label for="document_name">الاسم :</label></th>
          <td>
            <input type="text" id="document_name" name="document_name" />
          </td>
        </tr>
        <tr>
          <th><label for="document_type">شكل الوثيقة :</label></th>
          <td>
            <input type="text" id="document_type" name="document_type" />
          </td>
        </tr>
        <tr>
          <th><label for="document_description">الوصف :</label></th>
          <td>
            <textarea
              id="document_description"
              name="document_description"
            ></textarea>
          </td>
        </tr>
        <tr>
          <th><label for="document_rules">الشروط :</label></th>
          <td>
            <textarea id="document_rules" name="document_rules"></textarea>
          </td>
        </tr>
        <tr>
          <th><label for="document_origin">مصدر الوثيقة:</label></th>
          <td>
            <input type="text" id="document_origin" name="document_origin" />
          </td>
        </tr>
        <tr>
          <th colspan="2"><h2>مخرجات الخدمة</h2></th>
        </tr>
        <tr>
          <th><label for="outputs_name">الاسم :</label></th>
          <td>
            <input type="text" id="outputs_name" name="outputs_name" />
          </td>
        </tr>
        <tr>
          <th><label for="outputs_type">شكل الوثيقة :</label></th>
          <td>
            <input type="text" id="outputs_type" name="outputs_type" />
          </td>
        </tr>
        <tr>
          <th><label for="outputs_description">الوصف :</label></th>
          <td>
            <textarea
              id="outputs_description"
              name="outputs_description"
            ></textarea>
          </td>
        </tr>
        <tr>
          <th><label for="outputs_rules">الشروط :</label></th>
          <td>
            <textarea id="outputs_rules" name="outputs_rules"></textarea>
          </td>
        </tr>
        <tr>
          <th><label for="outputs_expiry"> مدة الصلاحية :</label></th>
          <td>
            <input type="text" id="outputs_expiry" name="outputs_expiry" />
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center">
            <input style="color: black" type="submit" value="اضافة" />
          </td>
        </tr>
      </table>
    </form>
    <a href="/"> <button class="screenspage">الصفحة الرئيسية</button></a>
  </body>
  <script
    src="https://cdn.tiny.cloud/1/z69tp80jmlesld65z70s45ymnhqlcnp4ec0dsvrxc8tsiyxb/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>
  <script>
    let unsavedChanges = false;

    tinymce.init({
      selector: "#table_description",
      language: "ar",
      plugins: "advlist autolink lists link image charmap print preview anchor",
      toolbar:
        "undo redo | formatselect | bold italic backcolor forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat |help",
      height: 400,
      content_style: "body { font-family: Arial, sans-serif; font-size: 14px }",
      directionality: "rtl", // Set text direction to right-to-left
      setup: function (editor) {
        editor.on("change", function () {
          // Set unsavedChanges to true when content changes
          unsavedChanges = true;
        });
      },
    });

    // Listen for beforeunload event
    window.addEventListener("beforeunload", function (e) {
      if (unsavedChanges) {
        // Cancel the event as returning a string will prompt a confirmation dialog
        e.preventDefault();
        // Chrome requires returnValue to be set
        e.returnValue = "";
        // Return the message to display in the confirmation dialog
        return "هل أنت متأكد أنك تريد مغادرة الصفحة؟ قد تفقد التغييرات التي قمت بها.";
      }
    });

    // Listen for form submit event
    document.querySelector("form").addEventListener("submit", function () {
      // Set unsavedChanges to false when form is submitted
      unsavedChanges = false;
    });

    // Listen for beforeunload event
    window.addEventListener("beforeunload", function (e) {
      if (unsavedChanges) {
        // Cancel the event as returning a string will prompt a confirmation dialog
        e.preventDefault();
        // Chrome requires returnValue to be set
        e.returnValue = "";
        // Return the message to display in the confirmation dialog
        return "هل أنت متأكد أنك تريد مغادرة الصفحة؟ قد تفقد التغييرات التي قمت بها.";
      }
    });

    // Listen for form submit event
    document.querySelector("form").addEventListener("submit", function () {
      // Set unsavedChanges to false when form is submitted
      unsavedChanges = false;
    });
  </script>
</html>
