<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/table.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Table</title>
    <style>
      /* Optional: Add some basic styling */
    </style>
  </head>
  <body>
    <h1>خدمة جديد</h1>
    <form action="/create_table" method="post">
      <table>
        <tr>
          <th><label for="table_name">اسم الخدمة: </label></th>
          <td>
            <input required type="text" id="table_name" name="table_name" />
          </td>
        </tr>
        <tr>
          <th><label for="table_description">وصف الخدمة:</label></th>
          <td>
            <textarea
              id="table_description"
              name="table_description"
              required
            ></textarea>
          </td>
        </tr>
        <tr>
          <th><label for="channels">القنوات:</label></th>
          <td>
            {% for channel in channels %}
            <input
              type="checkbox"
              id="channel_{{ channel.id }}"
              name="channels"
              value="{{ channel.id }}"
            />
            <label for="channel_{{ channel.id }}"
              >{{ channel.channel_name }}</label
            ><br />
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th><label for="beneficiaries">المستفيدين:</label></th>
          <td>
            {% for beneficiary in beneficiaries %}
            <input
              type="checkbox"
              id="beneficiary_{{ beneficiary.id }}"
              name="beneficiaries"
              value="{{ beneficiary.id }}"
            />
            <label for="beneficiary_{{ beneficiary.id }}"
              >{{ beneficiary.beneficiary_name }}</label
            ><br />
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center">
            <input style="color: black" type="submit" value="اضافة" />
          </td>
        </tr>
      </table>
    </form>
    <a href="/"> <button class="screenspage">الصفحة الرئيسية</button></a>
  </body>
</html>
