<!-- service_channels_form.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/table.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Service Channel</title>
  </head>
  <body>
    <h1 class="title">اضافة قناة</h1>
    <form action="/add_service_channel" method="post">
      <label for="channel_name">اسم القناة:</label>
      <input
        type="text"
        id="channel_name"
        name="channel_name"
        required
      /><br /><br />
      <input type="submit" value="اضافة" />
    </form>
    <div>
      <a href="/channels"><button>قائمة قنوات الخدمة</button></a>
    </div>
    <div>
      <a href="/"> <button class="screenspage">الصفحة الرئيسة</button></a>
    </div>
  </body>
</html>
