<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/table.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tables</title>
  </head>
  <body>
    <h1>الجداول</h1>
    <table>
      <thead>
        <tr>
          <th>اسم الجدول</th>
          <th>وصف الجدول</th>
          <th>حذف الجدول</th>
        </tr>
      </thead>
      <tbody>
        {% for table in tables %}
        <tr>
          <td><a href="/table/{{ table.id }}">{{ table.table_name }}</a></td>
          <td><p>{{ table.table_description }}</p></td>
          <td>
            <form
              action="/delete_table/{{ table.id }}"
              method="post"
              onsubmit="return confirm('هل انت متاكد من حذف الجدول و جميع الشاشات داخله؟')"
            >
              <button type="submit">حذف الجدول و الشاشات</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <a href="/new_table"><button>اضافة جدول</button></a>
    </div>

    <div>
      <a href="/userlist">
        <button class="screenspage">قائمة المستخدمين</button></a
      >
      <a href="/servicelist">
        <button class="screenspage">قائمة الخدمات</button></a
      >
    </div>
  </body>
</html>
