<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/table.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <!-- userlist.html -->

    <h1>قائمة المستخدمين</h1>
    <table>
      <thead>
        <tr>
          <th>اسم المستخدم</th>
          <th>وصف المستخدم</th>
          <th>تعديل</th>
          <!-- Added column for Edit button -->
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.user_description | safe }}</td>
          <td>
            <a href="/edit_user/{{ user.id }}"
              ><button>تعديل المستخدم</button></a
            >
            <!-- Edit button -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/users"><button>اضافة</button></a>

    <br /><br />
  </body>
</html>
